{%- assign settings = section.settings -%}

<section class="section two-column-text__section">
  <div class="container two-column-text__container">
    <div class="one-half column two-column-text__column">
      <div class="two-column-text__content">
        {{ settings.left-content }}
      </div>
    </div>
    <div class="one-half column two-column-text__column">
      <div class="two-column-text__content">
        {{ settings.right-content }}
      </div>
    </div>
  </div>
</section>

<style>
  .two-column-text__content h4 {
    font-size: 140%;
    padding-bottom: 0px;
  }
  .two-column-text__content h5 {
    font-size: 130%;
    padding-bottom: 0px;
  }
  .two-column-text__content h6 {
    font-size: 120%;
    padding-bottom: 0px;
  }
  @media only screen and (max-width: 797px) {
    .two-column-text__container {
      flex-direction: {% if settings.layout %}column{% else %}column-reverse{% endif %};
    }
    .two-column-text__column {
      width: calc(100% - 20px);
      margin-bottom: 12px;
    }
  }
</style>

{% schema %}
  {
    "name": "Two Column Text",
    "class": "shopify-section--two-column-text",
    "settings": [
      {
        "type": "richtext",
        "id": "left-content",
        "label": "Left Content"
      },
      {
        "type": "richtext",
        "id": "right-content",
        "label": "Right Content"
      },
      {
        "type": "checkbox", 
        "id": "layout", 
        "label": "Left content displays at the top in mobile", 
        "default": true
      }
    ], 
    "presets": [{
      "name": "Two Column Text",
      "settings": {
      }
    }]
  }
{% endschema %}
